<!DOCTYPE html>
  <html lang="ko">
  <head>
      <meta charset="UTF-8">
      <title>Quiz</title>
      <link rel="stylesheet" href="../stylesheets/mainCss.css">
      <link rel="stylesheet" href="../stylesheets/basic.css">
      <script src="../scripts/basicJs.js"></script>
      <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css">
      <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
      <style>
          .scoreExplain {
              float: right;
          }
      </style>
  </head>
  <body onload="loginCheck(); setQuiz();">
  <header>
      <img src="../images/list.png" id="listBtn" onclick="openBox()">
      <a href="../" style="text-decoration: none;"><h1 id="title">Quiz</h1></a>
      <a href="../signup" class="login" id="signUpBtn">회원가입</a>
      <a href="../signin" class="login" id="signInBtn">로그인</a>
  </header>
  <article id="currentScore" style="margin-bottom: 0;">
      <span id="currentScoreText">현재 점수 : </span><span id="currentScoreScore">0점</span>
  </article>
  <article style="margin-top: 0">
    <section id="box" style="margin-bottom: 10px">
        <span style="color: #00a44a; font-weight: bold; font-size: 25pt;">#</span>
        <h1 id="num" style="display: inline;">1</h1>
        <span class="scoreExplain">점]</span>
        <span id="score">0</span>
        <span class="scoreExplain">[</span>
        <p id="sentence">문제를 불러 오는 중입니다...</p>
    </section>
      <br>
      <table>
        <tr>
            <td class="select" onclick="checkAnswer(1)">
                <span>①</span>
                <span id="choice1"></span>
            </td>
        </tr>
        <tr>
            <td class="select" onclick="checkAnswer(2)">
                <span>②</span>
                <span id="choice2"></span>
            </td>
        </tr>
        <tr>
            <td class="select" onclick="checkAnswer(3)">
                <span>③</span>
                <span id="choice3"></span>
            </td>
        </tr>
        <tr>
            <td class="select" onclick="checkAnswer(4)">
                <span>④</span>
                <span id="choice4"></span>
            </td>
        </tr>
        <tr>
            <td class="select" onclick="checkAnswer(5)">
                <span>⑤</span>
                <span id="choice5"></span>
            </td>
        </tr>
    </table>
      <p style="font-size: 15pt; color: #00a44a; font-weight: bold;">제한 시간</p>
      <div id="timerBar">10</div>
  </article>
  <footer style="position: fixed; bottom: 0; width: 100%;">
      <span id="footer">제작 : 10509 김수빈, 10522 임성우, 10523 정우창<br>제작 기간 : 2018/11/15 ~ 2018/12/03<br>Copyright 2018, Comsiil. All right reserved.</span>
  </footer>
  <nav>
      <section id="listBox">
          <img src="../images/list.png" alt="" id="listBtn2" onclick="closeBox()">
          <h1 id="titleInBox">Quiz</h1>
          <h2 id="userName">${req.user.name}</h2>
          <hr>
          <h2 class="listIndex">Quiz</h2>
          <a href="../knowledge/1"><p class="quizIndex">상식</p></a>
          <a href="../IT/1"><p class="quizIndex">IT</p></a>
          <a href="../capital/1"><p class="quizIndex">수도</p></a>
          <a href="../az/1"><p class="quizIndex">넌센스</p></a>
          <a href="../science/1"><p class="quizIndex">과학</p></a>
          <a href="../english/1"><p class="quizIndex">영어</p></a>
          <a href="../enter/1"><p class="quizIndex">연예</p></a>
          <a href="../social/1"><p class="quizIndex">사회</p></a>
          <a href="../math/1"><p class="quizIndex">수학</p></a>
      </section>
  </nav>
  </body>
  <script>
    var count = 1;
    var currentScore = 0;
    var solvedQuiz = 0;
    var timerBar = document.getElementById("timerBar");
    var timerBarPercent = 90;
    var time = 10;
    var timerID = setInterval("timer()", 1000);
    var quiz = null;
    function setQuiz() {
        quiz = getQuizInfo(window.location.pathname.split('/')[1], count);
        if(quiz){
          document.getElementById("num").innerHTML = count;
          document.getElementById("score").innerHTML = quiz['score'];
          document.getElementById("sentence").innerHTML = quiz['sentence'];
          document.getElementById("currentScoreScore").innerHTML = currentScore;
          document.getElementById("choice1").innerHTML = quiz['choices'][0];
          document.getElementById("choice2").innerHTML = quiz['choices'][1];
          document.getElementById("choice3").innerHTML = quiz['choices'][2];
          document.getElementById("choice4").innerHTML = quiz['choices'][3];
          document.getElementById("choice5").innerHTML = quiz['choices'][4];
          count++;
        }
        else{
          $.ajax({
            url:window.location.protocol+"//"+window.location.host+"/save",
            data:{"score":currentScore,"solvedQuiz":solvedQuiz},
            type:'POST',
            success:function(data){
              window.open('../result', '_self');
            },
            async:false
          });
        }
    }
    function checkAnswer(choice) {
        if(choice == quiz['answer']) {
            currentScore += quiz['score'];
            solvedQuiz++;
            timerBarPercent = -10;
            timer();
        }
        else {
            alert('틀렸습니다!');
            timerBarPercent = -10;
            timer();
        }
    }
    function timer() {
        document.getElementById("timerBar").innerHTML = --time;
        timerBar.style.width = timerBarPercent + "%";
        timerBarPercent -= 10;
        if(timerBarPercent == -20) {
            clearInterval(timerID);
            document.getElementById("currentScoreScore").innerHTML = currentScore;
            quiz = getQuizInfo(window.location.pathname.split('/')[1], count);
            if(quiz){
              document.getElementById("num").innerHTML = count;
              document.getElementById("score").innerHTML = quiz['score'];
              document.getElementById("sentence").innerHTML = quiz['sentence'];
              document.getElementById("choice1").innerHTML = quiz['choices'][0];
              document.getElementById("choice2").innerHTML = quiz['choices'][1];
              document.getElementById("choice3").innerHTML = quiz['choices'][2];
              document.getElementById("choice4").innerHTML = quiz['choices'][3];
              document.getElementById("choice5").innerHTML = quiz['choices'][4];
              count++;
              timerBar.style.width = "100%";
              timerBar.innerHTML = "10";
              timerBarPercent = 90;
              time = 10;
              timerID = setInterval("timer()", 1000);
            }
            else{
              $.ajax({
                url:window.location.protocol+"//"+window.location.host+"/save",
                data:{"score":currentScore,"solvedQuiz":solvedQuiz},
                type:'POST',
                success:function(data){
                  window.open('../result', '_self');
                },
                async:false
              });
            }
        }
    }
    function getQuizInfo(quizGenre, quizNumber){
      var result;
        $.ajax({
            url:window.location.protocol+"//"+window.location.host+"/"+quizGenre+"/"+quizNumber,
            type:'POST',
            dataType:'json',
            success:function(data){
                console.log(data);
                result = data;
            },
            async:false
        });
        return result;
    }
  </script>
  </html>